

.container {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.input-todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-todo input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}




.todo-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}






